Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Strings - app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-fr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Add "manage account and devices" button to home menu in mozillaonline builds
  app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
  app/src/main/java/org/mozilla/fenix/home/HomeMenuBuilder.kt
  app/src/main/res/values-zh-rCN/mozonline_strings.xml
  app/src/main/res/values/mozonline_strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-co/strings.xml
  app/src/main/res/values-gn/strings.xml
  app/src/main/res/values-hy-rAM/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220810143138.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26390 Upgrade to Python3
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/Pipfile
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/Pipfile.lock
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/conftest.py
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/gradlewbuild.py
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #26198: Add debounce to account manager syncs
  app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeature.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeatureTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fixes #26245: refactor the WallpaperManager as several WallpaperUseCases
  app/src/androidTest/java/org/mozilla/fenix/perf/StartupExcessiveResourceUseTest.kt
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  app/src/main/java/org/mozilla/fenix/components/Components.kt
  app/src/main/java/org/mozilla/fenix/components/UseCases.kt
  app/src/main/java/org/mozilla/fenix/ext/Bitmap.kt
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettings.kt
  app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettingsFragment.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperFileManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
  app/src/test/java/org/mozilla/fenix/perf/StartupTypeTelemetryTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperFileManagerTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperManagerTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpapersUseCasesTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #26198: Add debounce to account manager syncs
  app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeature.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeatureTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Add "manage account and devices" button to home menu in mozillaonline builds
  app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
  app/src/main/java/org/mozilla/fenix/home/HomeMenuBuilder.kt
  app/src/main/res/values-zh-rCN/mozonline_strings.xml
  app/src/main/res/values/mozonline_strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #26041: Re-set TrackingProtectionPolicy after Nimbus SDK is initialized
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #26041: Remove un-needed Nimbus workaround
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #26041: Remove un-needed Nimbus workaround
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-co/strings.xml
  app/src/main/res/values-co/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-gn/strings.xml
  app/src/main/res/values-gn/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-hy-rAM/strings.xml
  app/src/main/res/values-hy-rAM/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26037: Open shared FireFox tab from another device in Firefox browser
  app/src/main/java/org/mozilla/fenix/components/NotificationManager.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

use python 3.10
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/Pipfile
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/Pipfile.lock
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Issue ##26361: randomize shortcut titles to avoid data overlapping
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26144 new cancelDeleteAllHistoryTest UI test
  app/src/androidTest/java/org/mozilla/fenix/ui/HistoryTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/HistoryRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26144 refactor deleteAllHistoryTest UI test
  app/src/androidTest/java/org/mozilla/fenix/ui/HistoryTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/HistoryRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-co/strings.xml
  app/src/main/res/values-co/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-hy-rAM/strings.xml
  app/src/main/res/values-hy-rAM/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-gn/strings.xml
  app/src/main/res/values-gn/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Add "manage account and devices" button to home menu in mozillaonline builds
  app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
  app/src/main/java/org/mozilla/fenix/home/HomeMenuBuilder.kt
  app/src/main/res/values-zh-rCN/mozonline_strings.xml
  app/src/main/res/values/mozonline_strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #25602: Lowercase search engine id when recording telemetry
  app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  app/src/test/java/org/mozilla/fenix/components/metrics/MetricsUtilsTestRobolectric.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #26041: Remove un-needed Nimbus workaround
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Add workflow to download Nimbus early experiments
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

Fixes #26245: refactor the WallpaperManager as several WallpaperUseCases
  app/src/androidTest/java/org/mozilla/fenix/perf/StartupExcessiveResourceUseTest.kt
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  app/src/main/java/org/mozilla/fenix/components/Components.kt
  app/src/main/java/org/mozilla/fenix/components/UseCases.kt
  app/src/main/java/org/mozilla/fenix/ext/Bitmap.kt
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettings.kt
  app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettingsFragment.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperFileManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
  app/src/test/java/org/mozilla/fenix/perf/StartupTypeTelemetryTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperFileManagerTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperManagerTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpapersUseCasesTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: Try experimental new emulator on FTL
  automation/taskcluster/androidTest/flank-x86.yml
  taskcluster/ci/ui-test/kind.yml
Owners: @mozilla-mobile/fenix, @mozilla-mobile/releng

use python 3.10
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/Pipfile
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/Pipfile.lock
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26390 Upgrade to Python3
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/Pipfile
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/Pipfile.lock
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/conftest.py
  app/src/androidTest/java/org/mozilla/fenix/syncintegration/gradlewbuild.py
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220811143056.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update flank-x86.yml
  automation/taskcluster/androidTest/flank-x86.yml
Owners: @mozilla-mobile/fenix

Fixes #26150: check that tabs engine is enabled before displaying tab pickup
  app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  app/src/main/java/org/mozilla/fenix/ext/AppState.kt
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeature.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeatureTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update flank-x86.yml
  automation/taskcluster/androidTest/flank-x86.yml
Owners: @mozilla-mobile/fenix

Close #26041: Remove un-needed Nimbus workaround
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #26041: Re-set TrackingProtectionPolicy after Nimbus SDK is initialized
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220811143056. (#26440)
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Use ARM config
  automation/taskcluster/androidTest/flank-arm64-v8a.yml
  automation/taskcluster/androidTest/flank-x86.yml
  taskcluster/ci/ui-test/kind.yml
Owners: @mozilla-mobile/fenix, @mozilla-mobile/releng

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
