Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix

Bug 1814241 - Create interactor/controller for the Tabs Tray FAB
  app/src/main/java/org/mozilla/fenix/tabstray/FloatingActionButtonBinding.kt
  app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayInteractor.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/TabsTrayFabController.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/TabsTrayFabInteractor.kt
  app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
  app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayInteractorTest.kt
  app/src/test/java/org/mozilla/fenix/tabstray/FloatingActionButtonBindingTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230203190318.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230203190318.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-kaa/strings.xml
  app/src/main/res/values-si/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#28763)
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-kaa/strings.xml
  app/src/main/res/values-si/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-ka/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-si/strings.xml
  app/src/main/res/values-si/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-cs/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230204143254.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230204143254.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-kaa/strings.xml
  app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ru/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#28766)
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-kaa/strings.xml
  app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ru/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-el/strings.xml
  app/src/main/res/values-el/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-ru/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-nn-rNO/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-eu/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230205143241.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230205143241.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-kaa/strings.xml
  app/src/main/res/values-nb-rNO/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#28769)
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-kaa/strings.xml
  app/src/main/res/values-nb-rNO/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-nb-rNO/strings.xml
  app/src/main/res/values-nb-rNO/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ja/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-ca/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-cs/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1813628 - Adjust shard count for debug UI tests
  automation/taskcluster/androidTest/flank-arm64-v8a.yml
  taskcluster/ci/ui-test/kind.yml
Owners: @mozilla-mobile/fenix, @mozilla-mobile/releng

Bug 1810204 - Schedule legacy Android API Cron for test coverage
  .cron.yml
  automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  automation/taskcluster/androidTest/parse-ui-test.py
  taskcluster/ci/ui-test/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Bug 1813628 - Adjust shard count for debug UI tests
  automation/taskcluster/androidTest/flank-arm64-v8a.yml
  taskcluster/ci/ui-test/kind.yml
Owners: @mozilla-mobile/fenix, @mozilla-mobile/releng

For #1812196 - Sets height of "Learn more about Sync" in Logins and passwords- Saved logins
  app/src/main/java/org/mozilla/fenix/settings/logins/view/SavedLoginsListView.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1814425 - Don't show a suggestions header for topic specific search engines
  app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Create common OnboardingPage composable
  app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
  app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageState.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1808358 - Use OnboardingPage component in NotificationPermissionDialogScreen.kt
  app/src/main/java/org/mozilla/fenix/onboarding/view/NotificationPermissionDialogScreen.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1810204 - Schedule legacy Android API Cron for test coverage
  .cron.yml
  automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  automation/taskcluster/androidTest/parse-ui-test.py
  taskcluster/ci/ui-test/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230206143351.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Disable failing ui tests pending investigation.
  app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230206143351.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Disable failing ui tests pending investigation.
  app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix
