Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix

Bug 1815698 - Allow sponsored stories details to be spaced evenly vertically
  app/src/main/java/org/mozilla/fenix/compose/ListItemTabLarge.kt
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesComposables.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1812193 - Increase the height of the 'x' buttons of the login and password fields on the 'Add New Login' screen (#28658)
  app/src/main/res/layout/fragment_add_login.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Don't pass CrashReporter to RustLog
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230209190054.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1813421 - Convert Nimbus Experiments to Compose
  app/src/main/java/org/mozilla/fenix/nimbus/NimbusExperimentsFragment.kt
  app/src/main/java/org/mozilla/fenix/nimbus/view/NimbusExperiments.kt
  app/src/main/java/org/mozilla/fenix/nimbus/view/NimbusExperimentsView.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1814208 - Enable speedometer3 in the fenix branch. (#28717)
  taskcluster/ci/browsertime/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Bug 1815623 - Add telemetry for sharing to an app from the share sheet
  app/metrics.yaml
  app/src/main/java/org/mozilla/fenix/share/ShareController.kt
  app/src/main/java/org/mozilla/fenix/share/ShareToAppsSafeExtras.kt
  app/src/test/java/org/mozilla/fenix/share/ShareControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1815901 - Further document experimentation for cookie banner handling
  nimbus.fml.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1813421 - Convert Nimbus Experiments to Compose
  app/src/main/java/org/mozilla/fenix/nimbus/NimbusExperimentsFragment.kt
  app/src/main/java/org/mozilla/fenix/nimbus/view/NimbusExperiments.kt
  app/src/main/java/org/mozilla/fenix/nimbus/view/NimbusExperimentsView.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230209190054.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1815623 - Add telemetry for sharing to an app from the share sheet
  app/metrics.yaml
  app/src/main/java/org/mozilla/fenix/share/ShareController.kt
  app/src/main/java/org/mozilla/fenix/share/ShareToAppsSafeExtras.kt
  app/src/test/java/org/mozilla/fenix/share/ShareControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-en-rCA/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-kaa/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-th/strings.xml
  app/src/main/res/values-tr/strings.xml
  l10n.toml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1814449 - add toggle switch option for open keyboard on new tab
  app/src/main/java/org/mozilla/fenix/settings/TabsSettingsFragment.kt
  app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  app/src/main/res/values/preference_keys.xml
  app/src/main/res/xml/tabs_preferences.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#28811)
  app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-en-rCA/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-kaa/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-th/strings.xml
  app/src/main/res/values-tr/strings.xml
  l10n.toml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1815901 - Further document experimentation for cookie banner handling
  nimbus.fml.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1812144 - Homescreen is scrollable even if there is no content
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/utils/AppBarLayoutBehaviorEmptyRecyclerView.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1814506 - Add unit tests to cover multi selection of tabs Three new unit tests have been added to cover cases when multiple tabs are selected or unselected.
  app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1816071 - Stop Nighlies and A-C bumps until we migrate to the Android monorepo
  .cron.yml
  .github/workflows/fenix-update-ac.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Bug 1815424 - Show Dialog should not be called multiple times.
  app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1815424 - Show Dialog should not be called multiple times.
  app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1815433 - Pre-release fix up of defaults in messaging.fml.yaml configuration.
  app/src/main/java/org/mozilla/fenix/gleanplumb/MessageNotificationWorker.kt
  messaging.fml.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Status check flaky verifyReaderViewAppearanceUI UI test on Firebase
  app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
  automation/taskcluster/androidTest/flank-arm64-v8a.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

control run logins tests
  automation/taskcluster/androidTest/flank-arm64-v8a.yml
Owners: @mozilla-mobile/fenix

Bug 1809788 - Fix ktlint warning
  app/src/test/java/org/mozilla/fenix/share/ShareControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230210143250.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1812462 - Increase the height of the "Sign in" button on the "Switching screens is easier than ever" page
  app/src/main/java/org/mozilla/fenix/compose/button/Button.kt
  app/src/main/java/org/mozilla/fenix/onboarding/view/Onboarding.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230210143250.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1814506 - Add unit tests to cover multi selection of tabs Three new unit tests have been added to cover cases when multiple tabs are selected or unselected.
  app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-fur/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#28820)
  app/src/main/res/values-fur/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230211143117.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230211143117.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-tl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#28822)
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-tl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-eu/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#28823)
  app/src/main/res/values-eu/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

run 1 logins tests
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  automation/taskcluster/androidTest/flank-arm64-v8a.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1816186 - Use detect-only just when we can show the re-engagement dialog
  app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  app/src/main/java/org/mozilla/fenix/components/Core.kt
  app/src/main/java/org/mozilla/fenix/settings/CookieBannersFragment.kt
  app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/dialog/CookieBannerReEngagementDialog.kt
  app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/dialog/CookieBannerReEngagementDialogUtils.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230213143237.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230213143237.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix
