Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Update to Android-Components 106.0.20220823143146.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: increase flaky tests attempts on Nightly tests
  automation/taskcluster/androidTest/flank-x86-start-test.yml
Owners: @mozilla-mobile/fenix

Update to Android-Components 106.0.20220823152515.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Use parallel execution for Gradle
  gradle.properties
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Use parallel execution for Gradle
  gradle.properties
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220823152515.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220823190131.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26519 - Add missing preview to RecentTabs
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26519 - Add back plating to Top Sites
  app/src/main/res/layout/top_site_item.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/styles.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26519 - Clean up RecentTabViewHolder
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabViewHolder.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26519 - Update back plating for Bookmarks and section header string
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  app/src/main/java/org/mozilla/fenix/compose/home/HomeSectionHeader.kt
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarks.kt
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarksHeaderViewHolder.kt
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26519 - Update background colors of recent tabs and bookmarks favicons
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarks.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update SECURITY.md
  SECURITY.md
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: increase flaky tests attempts on Nightly tests
  automation/taskcluster/androidTest/flank-x86-start-test.yml
Owners: @mozilla-mobile/fenix

For #26605 - Clean up RecentTabViewHolder
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabViewHolder.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-sat/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #26615 Add nimbus configuration feature flags for MR 2022
  .experimenter.yaml
  nimbus.fml.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220823190131.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#26619)
  app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-sat/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26400 - Add long-press option to remove tab pickup on homescreen
  app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  app/src/main/java/org/mozilla/fenix/ext/AppState.kt
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/home/blocklist/BlocklistHandler.kt
  app/src/main/java/org/mozilla/fenix/home/blocklist/BlocklistMiddleware.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeature.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/controller/RecentSyncedTabController.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/interactor/RecentSyncedTabInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTab.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/main/res/values/strings.xml
  app/src/test/java/org/mozilla/fenix/components/AppStoreTest.kt
  app/src/test/java/org/mozilla/fenix/home/blocklist/BlocklistMiddlewareTest.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/controller/DefaultRecentSyncedTabControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26401: Remove unused wallpaper metrics.
  app/metrics.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #26615 Add nimbus configuration feature flags for MR 2022
  .experimenter.yaml
  nimbus.fml.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1784122 - Add non-fission variant for Fenix perf tests.
  taskcluster/ci/browsertime/kind.yml
  taskcluster/ci/config.yml
  taskcluster/fenix_taskgraph/transforms/browsertime.py
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Test changes.
  taskcluster/ci/browsertime/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Fix missing variable.
  taskcluster/fenix_taskgraph/transforms/browsertime.py
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Fix bad line.
  taskcluster/fenix_taskgraph/transforms/browsertime.py
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Fix bad line 2.
  taskcluster/fenix_taskgraph/transforms/browsertime.py
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Set symbol properly.
  taskcluster/fenix_taskgraph/transforms/browsertime.py
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Undo testing changes.
  taskcluster/ci/browsertime/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

For #26400 - Add long-press option to remove tab pickup on homescreen
  app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  app/src/main/java/org/mozilla/fenix/ext/AppState.kt
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/home/blocklist/BlocklistHandler.kt
  app/src/main/java/org/mozilla/fenix/home/blocklist/BlocklistMiddleware.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeature.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/controller/RecentSyncedTabController.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/interactor/RecentSyncedTabInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTab.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/main/res/values/strings.xml
  app/src/test/java/org/mozilla/fenix/components/AppStoreTest.kt
  app/src/test/java/org/mozilla/fenix/home/blocklist/BlocklistMiddlewareTest.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/controller/DefaultRecentSyncedTabControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220824133606.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26144 new address autofill UI smoke tests
  app/src/androidTest/assets/pages/addressForm.html
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestAssetHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsBasicsTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26144 new credit card autofill UI smoke tests
  app/src/androidTest/assets/pages/addressForm.html
  app/src/androidTest/assets/pages/creditCardForm.html
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestAssetHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsBasicsTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220824133606.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26556 - Add skr and tok native/English display names
  app/src/main/java/org/mozilla/fenix/settings/advanced/LocaleViewHolders.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26604 - Add missing preview to RecentTabs
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26608 - Update recent bookmarks homepage title
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  app/src/main/java/org/mozilla/fenix/compose/home/HomeSectionHeader.kt
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarksHeaderViewHolder.kt
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26605 - Clean up RecentTabViewHolder
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabViewHolder.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26620 - Replace the onboarding nimbus feature with MR2022 nimbus feature
  .experimenter.yaml
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  nimbus.fml.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26584 - Add vertical offset support to the CFR composable.
  app/src/main/java/org/mozilla/fenix/compose/cfr/CFRPopup.kt
  app/src/main/java/org/mozilla/fenix/compose/cfr/CFRPopupFullscreenLayout.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
