Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Strings - app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-nn-rNO/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26221 - Use favicon instead of ic_globe for composed tab grid item
  app/src/main/java/org/mozilla/fenix/compose/ThumbnailCard.kt
  app/src/main/java/org/mozilla/fenix/compose/tabstray/GridTabThumbnail.kt
  app/src/main/java/org/mozilla/fenix/compose/tabstray/TabGridItem.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220728143105.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220728143105.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #25942: use HistoryFragment to show synced history
  app/src/main/java/org/mozilla/fenix/library/history/HistoryAdapter.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryController.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryView.kt
  app/src/main/java/org/mozilla/fenix/library/syncedhistory/SyncedHistoryFragment.kt
  app/src/main/res/layout/fragment_synced_history.xml
  app/src/main/res/layout/history_list_item.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/test/java/org/mozilla/fenix/library/history/HistoryControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Remove on-pull-request
  taskcluster/ci/browsertime/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Closes #25942: use HistoryFragment to show synced history
  app/src/main/java/org/mozilla/fenix/library/history/HistoryAdapter.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryController.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryView.kt
  app/src/main/java/org/mozilla/fenix/library/syncedhistory/SyncedHistoryFragment.kt
  app/src/main/res/layout/fragment_synced_history.xml
  app/src/main/res/layout/history_list_item.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/test/java/org/mozilla/fenix/library/history/HistoryControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26227 - Remove search term tab groups from Jump Back In
  app/src/main/java/org/mozilla/fenix/components/Core.kt
  app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  app/src/main/java/org/mozilla/fenix/ext/BrowserState.kt
  app/src/main/java/org/mozilla/fenix/ext/RecentTabs.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/RecentTabsListFeature.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/controller/RecentTabController.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/interactor/RecentTabInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/main/java/org/mozilla/fenix/tabstray/SearchTermTabGroupMiddleware.kt
  app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayStore.kt
  app/src/main/java/org/mozilla/fenix/tabstray/viewholders/NormalBrowserPageViewHolder.kt
  app/src/main/res/navigation/nav_graph.xml
  app/src/test/java/org/mozilla/fenix/components/AppStoreTest.kt
  app/src/test/java/org/mozilla/fenix/ext/AppStateTest.kt
  app/src/test/java/org/mozilla/fenix/ext/BrowserStateTest.kt
  app/src/test/java/org/mozilla/fenix/ext/RecentTabsTest.kt
  app/src/test/java/org/mozilla/fenix/home/RecentTabsListFeatureTest.kt
  app/src/test/java/org/mozilla/fenix/home/SessionControlInteractorTest.kt
  app/src/test/java/org/mozilla/fenix/home/recenttabs/controller/RecentTabControllerTest.kt
  app/src/test/java/org/mozilla/fenix/tabstray/SearchTermTabGroupMiddlewareTest.kt
  app/src/test/java/org/mozilla/fenix/tabstray/TabsTrayStoreReducerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 104.0.1.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-vi/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-vi/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 104.0.1.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-nn-rNO/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-vi/strings.xml
  app/src/main/res/values-vi/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-nn-rNO/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-vi/strings.xml
  app/src/main/res/values-vi/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #26116: use new viewholders on history screen
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/HistoryRobot.kt
  app/src/main/java/org/mozilla/fenix/components/history/PagedHistoryProvider.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryAdapter.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryController.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryDataSource.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryFragmentStore.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryInteractor.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryItemTimeGroup.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryView.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryViewItemFlow.kt
  app/src/main/java/org/mozilla/fenix/library/history/PendingDeletionHistory.kt
  app/src/main/java/org/mozilla/fenix/library/history/viewholders/HistoryListItemViewHolder.kt
  app/src/main/java/org/mozilla/fenix/library/history/viewholders/SignInViewHolder.kt
  app/src/main/res/layout/component_history.xml
  app/src/test/java/org/mozilla/fenix/library/history/HistoryAdapterTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryControllerTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryDataSourceTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryViewItemFlowTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #26116: refactoring
  app/src/main/java/org/mozilla/fenix/library/history/HistoryAdapter.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryDataSource.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryAdapterTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryDataSourceTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26221 - Use favicon instead of ic_globe for composed tab grid item
  app/src/main/java/org/mozilla/fenix/compose/ThumbnailCard.kt
  app/src/main/java/org/mozilla/fenix/compose/tabstray/GridTabThumbnail.kt
  app/src/main/java/org/mozilla/fenix/compose/tabstray/TabGridItem.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #25837 - Invalidate cached nimbusValidation values when changing locale settings
  app/src/main/java/org/mozilla/fenix/settings/advanced/DefaultLocaleSettingsController.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220729143111.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220729143111.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Rename CODEOWNERS to CODEOWNERS #1,2,3,4,5,6
  .github/CODEOWNERS #1,2,3,4,5,6
Owners: @mozilla-mobile/fenix

Fixes #26029: Add wallpaper state to AppStore
  app/src/main/java/org/mozilla/fenix/components/Components.kt
  app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  app/src/main/java/org/mozilla/fenix/components/appstate/AppState.kt
  app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperState.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperManagerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-lo/strings.xml
  app/src/main/res/values-tr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-lo/strings.xml
  app/src/main/res/values-tr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #26185: add telemetry events for synced history screen
  app/metrics.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-fr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-lo/strings.xml
  app/src/main/res/values-lo/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-in/strings.xml
  app/src/main/res/values-in/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-tr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-lo/strings.xml
  app/src/main/res/values-lo/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-fr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-tr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-in/strings.xml
  app/src/main/res/values-in/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220730143045.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220730143045.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
