Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Update Android Components version to 105.0.20220821161547.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220821161547.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26399 - Use a list of tabs for recent synced tabs success state
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeature.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTabViewHolder.kt
  app/src/test/java/org/mozilla/fenix/components/AppStoreTest.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeatureTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26399 - Use a list of tabs for recent synced tabs success state
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeature.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTabViewHolder.kt
  app/src/test/java/org/mozilla/fenix/components/AppStoreTest.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/RecentSyncedTabFeatureTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26144 new address autofill UI smoke tests
  app/src/androidTest/assets/pages/addressForm.html
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestAssetHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsBasicsTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26144 new credit card autofill UI smoke tests
  app/src/androidTest/assets/pages/addressForm.html
  app/src/androidTest/assets/pages/creditCardForm.html
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestAssetHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsBasicsTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26398 - Filter recent synced tabs using the homescreen blocklist
  app/src/main/java/org/mozilla/fenix/home/blocklist/BlocklistHandler.kt
  app/src/main/java/org/mozilla/fenix/home/blocklist/BlocklistMiddleware.kt
  app/src/test/java/org/mozilla/fenix/home/blocklist/BlocklistMiddlewareTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

mergify: squash l10n PRs
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

mergify: squash l10n PRs
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26579 - Remove all unused strings marked moz:removedIn <= 103
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220822142319.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26582 - Renew telemetry expiring in 107
  app/metrics.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Let relbot update A-C on trunk
  .cron.yml
  automation/taskcluster/update_android_components.sh
  taskcluster/ci/bump/kind.yml
  taskcluster/ci/config.yml
  taskcluster/ci/docker-image/kind.yml
  taskcluster/docker/bump/Dockerfile
  taskcluster/docker/bump/mozilla_key.asc
  taskcluster/docker/bump/owner_trust.db
  taskcluster/fenix_taskgraph/target_tasks.py
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Update mergify rules to auto-merge AC bumps from relbot on the main branch
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26584 - Add vertical offset support to the CFR composable.
  app/src/main/java/org/mozilla/fenix/compose/cfr/CFRPopup.kt
  app/src/main/java/org/mozilla/fenix/compose/cfr/CFRPopupFullscreenLayout.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26584 - Add support to align the CFR composable inside a wider anchor
  app/src/main/java/org/mozilla/fenix/compose/cfr/CFRPopup.kt
  app/src/main/java/org/mozilla/fenix/compose/cfr/CFRPopupFullscreenLayout.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220822142319.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Let relbot update A-C on trunk (#26553)
  .cron.yml
  .mergify.yml
  automation/taskcluster/update_android_components.sh
  taskcluster/ci/bump/kind.yml
  taskcluster/ci/config.yml
  taskcluster/ci/docker-image/kind.yml
  taskcluster/docker/bump/Dockerfile
  taskcluster/docker/bump/mozilla_key.asc
  taskcluster/docker/bump/owner_trust.db
  taskcluster/fenix_taskgraph/target_tasks.py
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix, @mozilla-mobile/ACT

Add updated wallpaper use cases and activate them with feature flag.
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsHomepageTest.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/LegacyWallpaperFileManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/Wallpaper.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperDownloader.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperFileManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperMetadataFetcher.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperDownloaderTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperFileManagerTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperManagerTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperMetadataFetcherTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpapersUseCasesTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update version.txt to 106.0b1
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26587 - Fix broken previews using Fenix Image composable
  app/src/main/java/org/mozilla/fenix/compose/Image.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26579 - Remove all unused strings marked moz:removedIn <= 103
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update version.txt to 106.0b1
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26587 - Replace the color in DefaultImagePlaceholder with FirefoxTheme layer2
  app/src/main/java/org/mozilla/fenix/compose/Image.kt
  app/src/main/java/org/mozilla/fenix/compose/ImagesPlaceholder.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220822190107.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26159: Add option for user to hide history (frecent) top sites
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/settings/HomeSettingsFragment.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  app/src/main/res/values/preference_keys.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/home_preferences.xml
  app/src/test/java/org/mozilla/fenix/home/HomeFragmentTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

add about block to nimbus.fml.yaml
  nimbus.fml.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Set Android-Components version to 105.0.0
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220822190107.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26587 - Fix broken previews using Fenix Image composable
  app/src/main/java/org/mozilla/fenix/compose/Image.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26587 - Replace the color in DefaultImagePlaceholder with FirefoxTheme layer2
  app/src/main/java/org/mozilla/fenix/compose/Image.kt
  app/src/main/java/org/mozilla/fenix/compose/ImagesPlaceholder.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #26072: Don't show sync menu item until account manager is available
  app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Add updated downloader and file manager
  app/src/main/java/org/mozilla/fenix/wallpapers/LegacyWallpaperDownloader.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/LegacyWallpaperFileManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/Wallpaper.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperDownloader.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/LegacyWallpaperFileManagerTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperDownloaderTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperFileManagerTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpapersUseCasesTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Add updated wallpaper use cases and activate them with feature flag.
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsHomepageTest.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/LegacyWallpaperFileManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/Wallpaper.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperDownloader.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperFileManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperManager.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperMetadataFetcher.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperDownloaderTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperFileManagerTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperManagerTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpaperMetadataFetcherTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpapersUseCasesTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-pt-rBR/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#26592)
  app/src/main/res/values-pt-rBR/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26401: Remove unused wallpaper metrics.
  app/metrics.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26398 - Filter recent synced tabs using the homescreen blocklist
  app/src/main/java/org/mozilla/fenix/home/blocklist/BlocklistHandler.kt
  app/src/main/java/org/mozilla/fenix/home/blocklist/BlocklistMiddleware.kt
  app/src/test/java/org/mozilla/fenix/home/blocklist/BlocklistMiddlewareTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
