Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Import l10n. (#26952)
  app/src/main/res/values-gn/strings.xml
  app/src/main/res/values-lo/strings.xml
  app/src/main/res/values-nb-rNO/strings.xml
  app/src/main/res/values-rm/strings.xml
  app/src/main/res/values-ro/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26929 - Remove vertical scrolling in Onboarding
  app/src/main/java/org/mozilla/fenix/onboarding/view/Onboarding.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #26212: Download wallpapers when a thumbnail is clicked
  app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  app/src/main/java/org/mozilla/fenix/home/WallpapersObserver.kt
  app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettings.kt
  app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettingsFragment.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/Wallpaper.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
  app/src/main/res/values/strings.xml
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpapersUseCasesTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #26212: Download wallpapers when a thumbnail is clicked
  app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  app/src/main/java/org/mozilla/fenix/home/WallpapersObserver.kt
  app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettings.kt
  app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettingsFragment.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/Wallpaper.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
  app/src/main/res/values/strings.xml
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpapersUseCasesTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220913143057.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220913143057.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26511: apply wallpapers immediately and observe updates
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/home/WallpapersObserver.kt
  app/src/test/java/org/mozilla/fenix/home/HomeFragmentTest.kt
  app/src/test/java/org/mozilla/fenix/home/WallpapersObserverTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26743: Update the URL text styling in ClickableSubstringLink used by PoweredByPocketHeader
  app/src/main/java/org/mozilla/fenix/compose/ClickableSubstringLink.kt
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketRecommendationsHeaderViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesComposables.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26888 - Change Home Section Headers to use Headline6
  app/src/main/java/org/mozilla/fenix/compose/MessageCard.kt
  app/src/main/java/org/mozilla/fenix/compose/SectionHeader.kt
  app/src/main/java/org/mozilla/fenix/compose/home/HomeSectionHeader.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fix BookmarksTest.kt and HomeScreenTest.kt
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26792 - Change active Firebase Test Lab emulator from x86 to ARM
  automation/taskcluster/androidTest/flank-arm-beta.yml
  automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  automation/taskcluster/androidTest/flank-arm-screenshots-tests.yml
  automation/taskcluster/androidTest/flank-arm-start-test.yml
  automation/taskcluster/androidTest/flank-armeabi-v7a-start-test.yml
  automation/taskcluster/androidTest/flank-armeabi-v7a.yml
  automation/taskcluster/androidTest/flank-x86-beta.yml
  automation/taskcluster/androidTest/flank-x86-legacy-api-tests.yml
  automation/taskcluster/androidTest/flank-x86-screenshots-tests.yml
  automation/taskcluster/androidTest/flank-x86-start-test.yml
  automation/taskcluster/androidTest/flank-x86.yml
  automation/taskcluster/androidTest/ui-test.sh
  taskcluster/ci/startup-test/kind.yml
  taskcluster/ci/ui-test/kind.yml
Owners: @mozilla-mobile/fenix, @mozilla-mobile/releng

ktlint fix TestHelper.kt and SettingsRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fix SettingsSearchTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSearchTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fix intent matcher for SettingsAboutTest
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAboutTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAdvancedTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #26966: enable wallpapers V2
  app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26888 - Change Home Section Headers to use Headline6
  app/src/main/java/org/mozilla/fenix/compose/MessageCard.kt
  app/src/main/java/org/mozilla/fenix/compose/SectionHeader.kt
  app/src/main/java/org/mozilla/fenix/compose/home/HomeSectionHeader.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26743: Update the URL text styling in ClickableSubstringLink used by PoweredByPocketHeader
  app/src/main/java/org/mozilla/fenix/compose/ClickableSubstringLink.kt
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketRecommendationsHeaderViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesComposables.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26511: apply wallpapers immediately and observe updates
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/home/WallpapersObserver.kt
  app/src/test/java/org/mozilla/fenix/home/HomeFragmentTest.kt
  app/src/test/java/org/mozilla/fenix/home/WallpapersObserverTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-lo/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#26970)
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-lo/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26884: Properly disable the jumpBackIn and TCP CFRs in BookmarksTest
  app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26884: [UI tests] Reset modified settings just before the Activity finishes
  app/src/androidTest/java/org/mozilla/fenix/helpers/HomeActivityTestRule.kt
  app/src/androidTest/java/org/mozilla/fenix/screenshots/MenuScreenShotTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/BrowsingErrorPagesTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/HistoryTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/NoNetworkAccessStartupTests.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SitePermissionsTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/StrictEnhancedTrackingProtectionTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/TabbedBrowsingTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26790 - Dismiss search dialog when opening recent tab dropdown menu
  app/src/main/java/org/mozilla/fenix/home/recenttabs/controller/RecentTabController.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/interactor/RecentTabInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/test/java/org/mozilla/fenix/home/SessionControlInteractorTest.kt
  app/src/test/java/org/mozilla/fenix/home/recenttabs/controller/RecentTabControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26790 - Dismiss search dialog when opening recent visit dropdown menu
  app/src/main/java/org/mozilla/fenix/home/recentvisits/controller/RecentVisitsController.kt
  app/src/main/java/org/mozilla/fenix/home/recentvisits/interactor/RecentVisitsInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
  app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisitedViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/test/java/org/mozilla/fenix/home/recentvisits/controller/RecentVisitsControllerTest.kt
  app/src/test/java/org/mozilla/fenix/home/recentvisits/interactor/RecentVisitsInteractorTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26790 - Dismiss search dialog when opening recent bookmark dropdown menu
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/controller/RecentBookmarksController.kt
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/interactor/RecentBookmarksInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarks.kt
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarksViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/test/java/org/mozilla/fenix/home/SessionControlInteractorTest.kt
  app/src/test/java/org/mozilla/fenix/home/recentbookmarks/DefaultRecentBookmarksControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26690 - Dismiss search dialog when opening recent synced tab dropdown menu
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/controller/RecentSyncedTabController.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/interactor/RecentSyncedTabInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTab.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/controller/DefaultRecentSyncedTabControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26790 - Dismiss search dialog when opening recent bookmark dropdown menu
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/controller/RecentBookmarksController.kt
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/interactor/RecentBookmarksInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarks.kt
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarksViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/test/java/org/mozilla/fenix/home/SessionControlInteractorTest.kt
  app/src/test/java/org/mozilla/fenix/home/recentbookmarks/DefaultRecentBookmarksControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26790 - Dismiss search dialog when opening recent tab dropdown menu
  app/src/main/java/org/mozilla/fenix/home/recenttabs/controller/RecentTabController.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/interactor/RecentTabInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/test/java/org/mozilla/fenix/home/SessionControlInteractorTest.kt
  app/src/test/java/org/mozilla/fenix/home/recenttabs/controller/RecentTabControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26790 - Dismiss search dialog when opening recent visit dropdown menu
  app/src/main/java/org/mozilla/fenix/home/recentvisits/controller/RecentVisitsController.kt
  app/src/main/java/org/mozilla/fenix/home/recentvisits/interactor/RecentVisitsInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
  app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisitedViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/test/java/org/mozilla/fenix/home/recentvisits/controller/RecentVisitsControllerTest.kt
  app/src/test/java/org/mozilla/fenix/home/recentvisits/interactor/RecentVisitsInteractorTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26424 - Create wallpaper file migration helper
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/LegacyWallpaperMigration.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
  app/src/main/res/values/preference_keys.xml
  app/src/test/java/org/mozilla/fenix/wallpapers/LegacyWallpaperMigrationTest.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/WallpapersUseCasesTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26424 - Add contrasting text color for migrated Turning Red Wallpapers
  app/src/main/java/org/mozilla/fenix/wallpapers/LegacyWallpaperMigration.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
  app/src/test/java/org/mozilla/fenix/wallpapers/LegacyWallpaperMigrationTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26690 - Dismiss search dialog when opening recent synced tab dropdown menu
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/controller/RecentSyncedTabController.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/interactor/RecentSyncedTabInteractor.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTab.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/controller/DefaultRecentSyncedTabControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26737 - Use the body2 for title else caption style in the Pocket section
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesComposables.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26737 - Use the body2 for title else caption style in the Pocket section
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesComposables.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26792 - Change active Firebase Test Lab emulator from x86 to ARM (#26793)
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAboutTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAdvancedTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSearchTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
  automation/taskcluster/androidTest/flank-arm-beta.yml
  automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  automation/taskcluster/androidTest/flank-arm-screenshots-tests.yml
  automation/taskcluster/androidTest/flank-arm-start-test.yml
  automation/taskcluster/androidTest/flank-armeabi-v7a-start-test.yml
  automation/taskcluster/androidTest/flank-armeabi-v7a.yml
  automation/taskcluster/androidTest/flank-x86-beta.yml
  automation/taskcluster/androidTest/flank-x86-legacy-api-tests.yml
  automation/taskcluster/androidTest/flank-x86-screenshots-tests.yml
  automation/taskcluster/androidTest/flank-x86-start-test.yml
  automation/taskcluster/androidTest/flank-x86.yml
  automation/taskcluster/androidTest/ui-test.sh
  taskcluster/ci/startup-test/kind.yml
  taskcluster/ci/ui-test/kind.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Update to Android-Components 106.0.20220914143042.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26884: [UI tests] Reset modified settings just before the Activity finishes
  app/src/androidTest/java/org/mozilla/fenix/helpers/HomeActivityTestRule.kt
  app/src/androidTest/java/org/mozilla/fenix/screenshots/MenuScreenShotTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/BrowsingErrorPagesTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/HistoryTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/NoNetworkAccessStartupTests.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SitePermissionsTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/StrictEnhancedTrackingProtectionTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/TabbedBrowsingTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26884: Properly disable the jumpBackIn and TCP CFRs in BookmarksTest
  app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fix naming of generated exception
  app/src/test/java/org/mozilla/fenix/experiments/NimbusSetupKtTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26979 - Avoid navigating to the browser before navigating to the Home Onboarding dialog
  app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
