Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix

Strings - app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-es/strings.xml
  app/src/main/res/values-es/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-sat/strings.xml
  app/src/main/res/values-sat/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Rename save_enabled_ic_color to be more general
  app/src/main/res/color/menu_ic_color.xml
  app/src/main/res/menu/login_save.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Make history_menu items use new menu_ic_color
  app/src/main/res/menu/history_menu.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #21443: Disable history delete and search with empty history
  app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Use MenuHost invalidateMenu and rename parameters to match
  app/src/main/java/org/mozilla/fenix/library/history/HistoryController.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #27405 - Clean up references to "Sing in to Sync" phrase
  app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BookmarksRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuMainRobot.kt
  app/src/main/java/org/mozilla/fenix/settings/SyncPreferenceView.kt
  app/src/main/java/org/mozilla/fenix/settings/autofill/AutofillSettingFragment.kt
  app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsAuthFragment.kt
  app/src/test/java/org/mozilla/fenix/settings/logins/SyncPreferenceViewTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #27405 - Clean up references to "Sing in to Sync" phrase
  app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BookmarksRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuMainRobot.kt
  app/src/main/java/org/mozilla/fenix/settings/SyncPreferenceView.kt
  app/src/main/java/org/mozilla/fenix/settings/autofill/AutofillSettingFragment.kt
  app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsAuthFragment.kt
  app/src/test/java/org/mozilla/fenix/settings/logins/SyncPreferenceViewTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update jna to version 5.12.1
  buildSrc/src/main/java/Dependencies.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: Add source commit pair to Flank client-details flag
  automation/taskcluster/androidTest/ui-test.sh
Owners: @mozilla-mobile/fenix

Adds TCP prompt & storage access tests
  app/src/androidTest/assets/pages/cross-site-cookies.html
  app/src/androidTest/java/org/mozilla/fenix/ui/EnhancedTrackingProtectionTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SitePermissionsRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Disable TCP popup when running performance tests.
  app/src/main/java/org/mozilla/fenix/perf/Performance.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Run some perf tests.
  taskcluster/ci/browsertime/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

For #27439: Remove all unused strings marked moz:removedIn <= 105
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 108.0.20221018160640.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 108.0.20221018160640.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update jna to version 5.12.1
  buildSrc/src/main/java/Dependencies.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: Fix for None key-pair in Flank client-details
  automation/taskcluster/androidTest/ui-test.sh
Owners: @mozilla-mobile/fenix

For #27439: Remove all unused strings marked moz:removedIn <= 105
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-es-rCL/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hu/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#27462)
  app/src/main/res/values-es-rCL/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hu/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #27456 - Migrate Context.isDark() into a top-level extension
  app/src/main/java/org/mozilla/fenix/ext/Context.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #27456 - Migrate Context.isDark() into a top-level extension
  app/src/main/java/org/mozilla/fenix/ext/Context.kt
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpapersUseCases.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-hu/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-es-rCL/strings.xml
  app/src/main/res/values-es-rCL/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-fr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26577 - resetFocus only when camera permission is denied
  app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: Refactor web page items clicks and setting text
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/CustomTabRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: Refactor web page items long clicks
  app/src/androidTest/java/org/mozilla/fenix/ui/ContextMenusTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #25029 and #26087 re-enable useAppWhileTabIsCrashedTest and privateBrowsingUseAppWhileTabIsCrashedTest UI tests
  app/src/androidTest/java/org/mozilla/fenix/ui/CrashReportingTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: Refactor web page items long clicks
  app/src/androidTest/java/org/mozilla/fenix/ui/ContextMenusTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: Refactor web page items clicks and setting text
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/CustomTabRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #9323 - Use android:background to set small search widget microphone icon
  app/src/main/res/drawable/ic_microphone_widget.xml
  app/src/main/res/drawable/ic_microphone_widget_padded.xml
  app/src/main/res/layout/search_widget_large.xml
  app/src/main/res/layout/search_widget_medium.xml
  app/src/main/res/layout/search_widget_small.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #27135 - Correctly report top sites for a11y services
  app/src/main/java/org/mozilla/fenix/home/topsites/TopSiteItemViewHolder.kt
  app/src/test/java/org/mozilla/fenix/home/topsites/TopSiteItemViewHolderTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Undo testing changes.
  taskcluster/ci/browsertime/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

No issue: Fix for None key-pair in Flank client-details
  automation/taskcluster/androidTest/ui-test.sh
Owners: @mozilla-mobile/fenix

For #25029 and #26087 re-enable useAppWhileTabIsCrashedTest and privateBrowsingUseAppWhileTabIsCrashedTest UI tests
  app/src/androidTest/java/org/mozilla/fenix/ui/CrashReportingTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 108.0.20221019143129.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix
