Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Import l10n.
  app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-nb-rNO/strings.xml
  app/src/main/res/values-pa-rIN/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Google Play Review dependency to 2.0.0
  app/build.gradle
  buildSrc/src/main/java/Dependencies.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #27117 - Update copy for the menu from "Sign in to sync" to "Sync and save data"
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuMainRobot.kt
  app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#27404)
  app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-nb-rNO/strings.xml
  app/src/main/res/values-pa-rIN/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Increase max runtime for browsertime tests.
  taskcluster/ci/browsertime/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Update Google Play Review dependency to 2.0.0
  app/build.gradle
  buildSrc/src/main/java/Dependencies.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Adjust to latest release
  buildSrc/src/main/java/Dependencies.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update protobuf to 3.21.7
  buildSrc/src/main/java/Dependencies.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 107.0.20221014143152.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 107.0.20221014143152.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 107.0.20221014190058.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 107.0.20221014190058.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #27269: Use parentFile method over substring extraction
  app/src/main/java/org/mozilla/fenix/wallpapers/WallpaperDownloader.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-be/strings.xml
  app/src/main/res/values-co/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fy-rNL/strings.xml
  app/src/main/res/values-hsb/strings.xml
  app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-lo/strings.xml
  app/src/main/res/values-nb-rNO/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-skr/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-su/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-tg/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-vi/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#27419)
  app/src/main/res/values-be/strings.xml
  app/src/main/res/values-co/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fy-rNL/strings.xml
  app/src/main/res/values-hsb/strings.xml
  app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-lo/strings.xml
  app/src/main/res/values-nb-rNO/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-skr/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-su/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-tg/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-vi/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 107.0.20221015145354.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 107.0.20221015145354.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-ast/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-es-rAR/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#27424)
  app/src/main/res/values-ast/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-es-rAR/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 107.0.20221016143152.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 107.0.20221016143152.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-sk/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#27431)
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-sk/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: refactoring for ETP tests
  app/src/androidTest/java/org/mozilla/fenix/ui/EnhancedTrackingProtectionTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SmokeTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 107.0.20221017143148.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 107.0.20221017143148.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update version.txt to 108.0b1.
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update version.txt to 108.0b1.
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 108.0.20221017190200.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update protobuf to 3.21.7
  buildSrc/src/main/java/Dependencies.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue: Add source commit pair to Flank client-details flag
  automation/taskcluster/androidTest/ui-test.sh
Owners: @mozilla-mobile/fenix

For #16162: Simplify site addresses in saved logins view
  app/src/main/java/org/mozilla/fenix/settings/logins/view/LoginsListViewHolder.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 108.0.20221017190200.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Set Android-Components version to 107.0.0
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-sat/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#27441)
  app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-sat/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-cy/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-da/strings.xml
  app/src/main/res/values-da/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
