Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix

Bug 1779797 - part 6: Do automatically approve a merge request if any other files than L10n ones are changed
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-es-rCL/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-hsb/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-rm/strings.xml
  app/src/main/res/values-skr/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-tg/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-vi/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #18175 - Add a new total protection ETP cookies policy
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuEnhancedTrackingProtectionRobot.kt
  app/src/main/java/org/mozilla/fenix/components/TrackingProtectionPolicyFactory.kt
  app/src/main/java/org/mozilla/fenix/trackingprotection/TrackingProtectionCategoryItem.kt
  app/src/main/java/org/mozilla/fenix/trackingprotection/TrackingProtectionStore.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  app/src/main/res/layout/component_tracking_protection_panel.xml
  app/src/main/res/layout/fragment_tracking_protection_blocking.xml
  app/src/main/res/values/arrays.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/tracking_protection_preferences.xml
  app/src/test/java/org/mozilla/fenix/components/TrackingProtectionPolicyFactoryTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220719143125.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #22186 - Scroll to collection after creating one
  app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  app/src/main/res/navigation/nav_graph.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #21898 - Remove search term tab groups from the Tabs Tray
  app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayMiddleware.kt
  app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayStore.kt
  app/src/main/java/org/mozilla/fenix/tabstray/TrayPagerAdapter.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/AbstractBrowserTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/NormalBrowserTrayList.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/NormalTabsBinding.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/OtherHeaderBinding.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/TabGroupAdapter.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/TabGroupBinding.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/TabGroupListAdapter.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/TabGroupViewHolder.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/TabSorter.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/TitleHeaderAdapter.kt
  app/src/main/java/org/mozilla/fenix/tabstray/ext/ConcatAdapter.kt
  app/src/main/java/org/mozilla/fenix/tabstray/ext/TabSelectors.kt
  app/src/main/java/org/mozilla/fenix/tabstray/viewholders/NormalBrowserPageViewHolder.kt
  app/src/main/res/layout/tab_group_item.xml
  app/src/main/res/layout/tab_tray_title_header_item.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/org/mozilla/fenix/tabstray/TabsTrayMiddlewareTest.kt
  app/src/test/java/org/mozilla/fenix/tabstray/browser/OtherHeaderBindingTest.kt
  app/src/test/java/org/mozilla/fenix/tabstray/browser/TabGroupBindingTest.kt
  app/src/test/java/org/mozilla/fenix/tabstray/browser/TabSorterTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220719143125.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fixes #26050: show jump back in when only synced tab available
  app/src/main/java/org/mozilla/fenix/ext/AppState.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  app/src/test/java/org/mozilla/fenix/ext/AppStateTest.kt
  app/src/test/java/org/mozilla/fenix/home/sessioncontrol/SessionControlViewTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-be/strings.xml
  app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-dsb/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-es-rAR/strings.xml
  app/src/main/res/values-es-rCL/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-rm/strings.xml
  app/src/main/res/values-skr/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-tg/strings.xml
  app/src/main/res/values-vi/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-be/strings.xml
  app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-dsb/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-es-rAR/strings.xml
  app/src/main/res/values-es-rCL/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-rm/strings.xml
  app/src/main/res/values-skr/strings.xml
  app/src/main/res/values-sv-rSE/strings.xml
  app/src/main/res/values-tg/strings.xml
  app/src/main/res/values-vi/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Issue #25972, #25971: reduce test failures with more retries on legacy-api-tests
  app/src/androidTest/java/org/mozilla/fenix/helpers/RetryTestRule.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SitePermissionsTest.kt
  automation/taskcluster/androidTest/flank-x86-legacy-api-tests.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Issue #26097: use mock location in UI tests
  app/src/androidTest/java/org/mozilla/fenix/helpers/MockLocationUpdatesRule.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SitePermissionsTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Issue #26097: use mock location in UI tests
  app/src/androidTest/java/org/mozilla/fenix/helpers/MockLocationUpdatesRule.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SitePermissionsTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - part 5: Only auto-approve l10n bumps if they come from the right branches
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - part 4: Fix l10n bumps branch name
  .github/workflows/sync-strings.yml
Owners: @mozilla-mobile/fenix

Bug 1779797 - part 6: Do automatically approve a merge request if any other files than L10n ones are changed
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - part 3: Create complete-push taskcluster task
  .mergify.yml
  taskcluster/ci/complete/kind.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Bug 1779797 - part 2: Provide email address for github-actions[bot] on Taskcluster decision task
  .taskcluster.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Bug 1779797 - part 5: Only auto-approve l10n bumps if they come from the right branches
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - part 4: Fix l10n bumps branch name
  .github/workflows/sync-strings.yml
Owners: @mozilla-mobile/fenix

Bug 1779797 - part 6: Do automatically approve a merge request if any other files than L10n ones are changed
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - part 3: Create complete-push taskcluster task
  .mergify.yml
  taskcluster/ci/complete/kind.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Bug 1779797 - part 2: Provide email address for github-actions[bot] on Taskcluster decision task
  .taskcluster.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Bug 1779797 - Let mergify automatically approve l10n bumps on release branches
  .github/workflows/sync-strings.yml
  .mergify.yml
Owners: @mozilla-mobile/fenix, @mozilla-mobile/ACT

Bug 1779797 - part 5: Only auto-approve l10n bumps if they come from the right branches
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - part 2: Provide email address for github-actions[bot] on Taskcluster decision task
  .taskcluster.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Bug 1779797 - part 6: Do automatically approve a merge request if any other files than L10n ones are changed
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - part 3: Create complete-push taskcluster task
  .mergify.yml
  taskcluster/ci/complete/kind.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Bug 1779797 - part 4: Fix l10n bumps branch name
  .github/workflows/sync-strings.yml
Owners: @mozilla-mobile/fenix

Bug 1779797 - part 3: Create complete-push taskcluster task
  .mergify.yml
  taskcluster/ci/complete/kind.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Bug 1779797 - part 5: Only auto-approve l10n bumps if they come from the right branches
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - part 2: Provide email address for github-actions[bot] on Taskcluster decision task
  .taskcluster.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Bug 1779797 - part 4: Fix l10n bumps branch name
  .github/workflows/sync-strings.yml
Owners: @mozilla-mobile/fenix

Bug 1779797 - part 6: Do automatically approve a merge request if any other files than L10n ones are changed
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - Let mergify automatically approve l10n bumps on release branches
  .github/workflows/sync-strings.yml
  .mergify.yml
Owners: @mozilla-mobile/fenix, @mozilla-mobile/ACT

For #26113 ⁃ Enable address autofill in all channels
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1777255 - part 3: Bump fenix-beta-version Github Action to support new version numbers
  .github/workflows/sync-strings.yml
Owners: @mozilla-mobile/fenix

Update Android Components version to 104.0.20220720144326.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #25954: add a new delete time range confirmation dialog for history screen
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/HistoryRobot.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryController.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryInteractor.kt
  app/src/main/java/org/mozilla/fenix/library/history/RemoveTimeFrame.kt
  app/src/main/java/org/mozilla/fenix/library/historymetadata/HistoryMetadataGroupFragment.kt
  app/src/main/java/org/mozilla/fenix/library/historymetadata/controller/HistoryMetadataGroupController.kt
  app/src/main/java/org/mozilla/fenix/library/historymetadata/interactor/HistoryMetadataGroupInteractor.kt
  app/src/main/res/layout/delete_history_time_range_dialog.xml
  app/src/main/res/menu/history_menu.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/org/mozilla/fenix/library/history/HistoryControllerTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryInteractorTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/RemoveTimeFrameTest.kt
  app/src/test/java/org/mozilla/fenix/library/historymetadata/controller/HistoryMetadataGroupControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220720144326.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix
