Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix

Add the crash reporter to MediaSessionService
  app/src/main/java/org/mozilla/fenix/media/MediaSessionService.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1807278 - Re-enable UI tests affected by settings screen changes
  app/src/androidTest/java/org/mozilla/fenix/ui/EnhancedTrackingProtectionTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsBasicsTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #28589 - Restrict coroutine calls between messagemiddleware and messagingcontroller
  app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingController.kt
  app/src/main/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddleware.kt
  app/src/test/java/org/mozilla/fenix/gleanplumb/NimbusMessagingControllerTest.kt
  app/src/test/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddlewareTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1810735 - Part 2: New logins related UI tests
  app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordOptionsToSaveRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordsSavedLoginsRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1810735 - Part 2: New logins related UI tests
  app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordOptionsToSaveRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuLoginsAndPasswordsSavedLoginsRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #28589 - Restrict coroutine calls between messagemiddleware and messagingcontroller
  app/src/main/java/org/mozilla/fenix/gleanplumb/NimbusMessagingController.kt
  app/src/main/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddleware.kt
  app/src/test/java/org/mozilla/fenix/gleanplumb/NimbusMessagingControllerTest.kt
  app/src/test/java/org/mozilla/fenix/gleanplumb/state/MessagingMiddlewareTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1810745 - Use the detect only cookie banner preference
  app/src/main/java/org/mozilla/fenix/components/Core.kt
  app/src/main/java/org/mozilla/fenix/settings/CookieBannersFragment.kt
  app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/dialog/CookieBannerReEngagementDialog.kt
  app/src/main/java/org/mozilla/fenix/settings/quicksettings/protections/cookiebanners/dialog/CookieBannerReEngagementDialogUtils.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230119154817.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update breaking APIs in MediaSessionService
  app/src/main/java/org/mozilla/fenix/media/MediaSessionService.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1811045 - Expand device and scheduling for legacy Android testing cron
  .cron.yml
  automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230119154817.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update breaking APIs in MediaSessionService
  app/src/main/java/org/mozilla/fenix/media/MediaSessionService.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230119190301.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230119190301.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #28597: Enable notification pre permission prompt feature in Beta
  app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug28280 - Add telemetry for form data failures
  app/metrics.yaml
  app/src/main/java/org/mozilla/fenix/telemetry/TelemetryMiddleware.kt
  app/src/test/java/org/mozilla/fenix/telemetry/TelemetryMiddlewareTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #28597: Enable notification pre permission prompt feature in Beta
  app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug28280 - Add telemetry for form data failures
  app/metrics.yaml
  app/src/main/java/org/mozilla/fenix/telemetry/TelemetryMiddleware.kt
  app/src/test/java/org/mozilla/fenix/telemetry/TelemetryMiddlewareTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #28597: Enable notification pre permission prompt feature in Beta
  app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es-rAR/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-ff/strings.xml
  app/src/main/res/values-fur/strings.xml
  app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-sat/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#28600)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es-rAR/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-ff/strings.xml
  app/src/main/res/values-fur/strings.xml
  app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-sat/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #25486: fix sign in button
  app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserMenuSignIn.kt
  app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
  app/src/main/res/values/strings.xml
  app/src/test/java/org/mozilla/fenix/menu/BrowserMenuSignInTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #28342: change the ui direction after a locale change
  app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-ia/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-es-rAR/strings.xml
  app/src/main/res/values-es-rAR/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-de/strings.xml
  app/src/main/res/values-de/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-iw/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-ff/strings.xml
  app/src/main/res/values-ff/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-sat/strings.xml
  app/src/main/res/values-sat/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #25486: fix sign in button
  app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserMenuSignIn.kt
  app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
  app/src/main/res/values/strings.xml
  app/src/test/java/org/mozilla/fenix/menu/BrowserMenuSignInTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Revert "Close #28597: Enable notification pre permission prompt feature in Beta (#28599)"
  app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #28111: Filter out topic specific search engines from default list
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSearchTest.kt
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  app/src/main/java/org/mozilla/fenix/settings/search/AddSearchEngineFragment.kt
  app/src/main/java/org/mozilla/fenix/settings/search/RadioSearchEngineListPreference.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230120143314.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1811045 - Expand device and scheduling for legacy Android testing cron
  .cron.yml
  automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230120143314.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1807594 - Respect users setting when switching back to search suggestions
  app/src/main/java/org/mozilla/fenix/search/SearchFragmentStore.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 111.0.20230120190252.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26855 - Direct users to Bugzilla for issue tracking
  .github/ISSUE_TEMPLATE/---bug-report.yml
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/---performance-issue.md
  .github/ISSUE_TEMPLATE/---webcontent-issue-report.md
  .github/ISSUE_TEMPLATE/--spike.md
  .github/ISSUE_TEMPLATE/--telemetry-request.md
  .github/ISSUE_TEMPLATE/--ui-test.md
  .github/ISSUE_TEMPLATE/--unit-test.md
  .github/ISSUE_TEMPLATE/--user-story.md
  .github/ISSUE_TEMPLATE/config.yml
  docs/release-checklist.md
Owners: @mozilla-mobile/fenix, @mozilla-mobile/ACT

For #26855 - Direct users to Bugzilla for issue tracking
  .github/ISSUE_TEMPLATE/---bug-report.yml
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/---performance-issue.md
  .github/ISSUE_TEMPLATE/---webcontent-issue-report.md
  .github/ISSUE_TEMPLATE/--spike.md
  .github/ISSUE_TEMPLATE/--telemetry-request.md
  .github/ISSUE_TEMPLATE/--ui-test.md
  .github/ISSUE_TEMPLATE/--unit-test.md
  .github/ISSUE_TEMPLATE/--user-story.md
  .github/ISSUE_TEMPLATE/config.yml
  docs/release-checklist.md
Owners: @mozilla-mobile/fenix, @mozilla-mobile/ACT
