Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

For #26169 - MR Home Onboarding Dialog for upgrading users
  app/build.gradle
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  app/src/main/java/org/mozilla/fenix/onboarding/HomeOnboardingDialogFragment.kt
  app/src/main/java/org/mozilla/fenix/onboarding/view/Onboarding.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  app/src/main/res/layout/fragment_onboarding_home_dialog.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/preference_keys.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/test/java/org/mozilla/fenix/home/sessioncontrol/SessionControlViewTest.kt
  buildSrc/src/main/java/Dependencies.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220825190307.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26646 - Use unescaped typographic apostrophes instead of escaped quotes
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

rename usage of action repo
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

For #26608 - Update recent bookmarks homepage title
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  app/src/main/java/org/mozilla/fenix/compose/home/HomeSectionHeader.kt
  app/src/main/java/org/mozilla/fenix/home/recentbookmarks/view/RecentBookmarksHeaderViewHolder.kt
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220825190307.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-yo/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 105.0.1.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#26654)
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-yo/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 105.0.1.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26656 - Use the correct string for onboarding_home_welcome_description
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update app/src/main/res/values/strings.xml
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-br/strings.xml
  app/src/main/res/values-br/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26656 - Use the correct string for onboarding_home_welcome_description (#26657)
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26190 - Update jump back in cfr logic and message
  app/src/main/java/org/mozilla/fenix/onboarding/JumpBackInCFRDialog.kt
  app/src/main/res/layout/onboarding_jump_back_in_cfr.xml
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26551 - Add telemetry for MR Onboarding welcome and sync dialogs.
  app/metrics.yaml
  app/src/main/java/org/mozilla/fenix/onboarding/view/Onboarding.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26190 - Update jump back in cfr logic and message
  app/src/main/java/org/mozilla/fenix/onboarding/JumpBackInCFRDialog.kt
  app/src/main/res/layout/onboarding_jump_back_in_cfr.xml
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26191 - Add telemetry for jump back in onboarding message
  app/metrics.yaml
  app/src/main/java/org/mozilla/fenix/onboarding/JumpBackInCFRDialog.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

chore: Bump taskgraph to v3.0.0
  .taskcluster.yml
  taskcluster/fenix_taskgraph/transforms/browsertime.py
  taskcluster/fenix_taskgraph/transforms/release_deps.py
  taskcluster/requirements.txt
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220826143117.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

chore: Bump taskgraph to v3.0.0
  .taskcluster.yml
  taskcluster/fenix_taskgraph/transforms/browsertime.py
  taskcluster/fenix_taskgraph/transforms/release_deps.py
  taskcluster/requirements.txt
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220826143117.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #21702: Update host name check in add login
  app/src/main/java/org/mozilla/fenix/settings/logins/fragment/AddLoginFragment.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #26666: Use correct content scale when displaying recent tab thumbnail and icon
  app/src/main/java/org/mozilla/fenix/compose/ThumbnailCard.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26668 - Use the correct string for onboarding_home_sync_title
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26227: Clean up double exclamation operator in BrowserState
  app/src/main/java/org/mozilla/fenix/ext/BrowserState.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #26666: Use correct content scale when displaying recent tab thumbnail and icon
  app/src/main/java/org/mozilla/fenix/compose/ThumbnailCard.kt
  app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26227: Clean up double exclamation operator in BrowserState
  app/src/main/java/org/mozilla/fenix/ext/BrowserState.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220826190145.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26668 - Use the correct string for onboarding_home_sync_title
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26489 - Add synced tab pickup onboarding message
  app/metrics.yaml
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  app/src/main/java/org/mozilla/fenix/onboarding/SyncCFRPresenter.kt
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

rename usage of action repo
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-es-rAR/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-fy-rNL/strings.xml
  app/src/main/res/values-gn/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-iw/strings.xml
  app/src/main/res/values-kab/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-skr/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-tg/strings.xml
  app/src/main/res/values-tr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220826190145.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220827143345.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220827143345.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220828143157.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220828143157.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 105.0.2.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
