Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Fix android:lineHeight
  app/src/main/res/layout/fragment_onboarding_home_dialog.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fix android:lineHeight (Part 2)
  app/src/main/res/layout/custom_search_engine.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Change android:lineHeight (Part 3)
  app/src/main/res/layout/settings_https_only.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Status check addPrivateBrowsingShortcutTest UI test on Firebase
  automation/taskcluster/androidTest/flank-x86.yml
Owners: @mozilla-mobile/fenix

cleanup lint-baseline.xml
  app/lint-baseline.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Move startup perf measurements to a background thread
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  app/src/main/java/org/mozilla/fenix/perf/StartupTypeTelemetry.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220808143406.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fix #26362: Use app:lineHeight to support API Level <= 27 (#26364)
  app/lint-baseline.xml
  app/src/main/res/layout/custom_search_engine.xml
  app/src/main/res/layout/fragment_onboarding_home_dialog.xml
  app/src/main/res/layout/settings_https_only.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220808143406.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Closes #26116: add license, fix parameter names, add kdoc
  app/src/main/java/org/mozilla/fenix/library/history/HistoryAdapter.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryFragmentStore.kt
  app/src/main/java/org/mozilla/fenix/library/history/PendingDeletionHistory.kt
  app/src/main/java/org/mozilla/fenix/library/history/viewholders/SignInViewHolder.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryAdapterTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryControllerTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryDataSourceTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryViewItemFlowTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 103.0.11.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26289 - Remove search term tab groups metrics and setting
  app/metrics.yaml
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuTabsRobot.kt
  app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  app/src/main/java/org/mozilla/fenix/settings/TabsSettingsFragment.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  app/src/main/res/values/preference_keys.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/tabs_preferences.xml
  app/src/test/java/org/mozilla/fenix/FenixApplicationTest.kt
  app/src/test/java/org/mozilla/fenix/tabstray/browser/TabSorterTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 103.0.11.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

add github action for updating initial nimbus experiments
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

update nimbus setup and first run setting, update sync-strings and update-nimbus-experiments actions
  .github/workflows/sync-strings.yml
  .github/workflows/update-nimbus-experiments.yml
  app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Owners: @mozilla-mobile/fenix, @mozilla-mobile/ACT

add commit message for created pull request
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

remove cron while testing
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

remove on workflow_dispatch for testing
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26115 - Change homescreen Show all button color according to wallpaper
  app/src/main/java/org/mozilla/fenix/compose/home/HomeSectionHeader.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

add branch and update experimenter url
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

update output usage
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

update base to be main
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

remove base and branch
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

For #26283: Use message buttonLabel in MessageCard.
  app/src/main/java/org/mozilla/fenix/compose/MessageCard.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26283: Use message buttonLabel in MessageCard.
  app/src/main/java/org/mozilla/fenix/compose/MessageCard.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220809141528.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fixes #26377: re-open already opened recent synced tabs
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/controller/RecentSyncedTabController.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/controller/DefaultRecentSyncedTabControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 105.0.20220809141528.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #22558 - Fix private theme bug in Tabs Tray
  app/src/main/java/org/mozilla/fenix/compose/ComposeViewHolder.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/InactiveTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ComposeAbstractTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/tabstray/viewholders/SyncedTabsPageViewHolder.kt
  app/src/main/java/org/mozilla/fenix/theme/FirefoxTheme.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fixes #26377: re-open already opened recent synced tabs
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/controller/RecentSyncedTabController.kt
  app/src/test/java/org/mozilla/fenix/home/recentsyncedtabs/controller/DefaultRecentSyncedTabControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

update experimenter url and change path
  .github/workflows/update-nimbus-experiments.yml
Owners: @mozilla-mobile/fenix

Close #26041: Re-set TrackingProtectionPolicy after Nimbus SDK is initialized
  app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

update isFirstRun to be manually set and set experiments locally on first run
  app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #22558 - Fix private theme bug in Tabs Tray
  app/src/main/java/org/mozilla/fenix/compose/ComposeViewHolder.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/InactiveTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ComposeAbstractTabViewHolder.kt
  app/src/main/java/org/mozilla/fenix/tabstray/viewholders/SyncedTabsPageViewHolder.kt
  app/src/main/java/org/mozilla/fenix/theme/FirefoxTheme.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-co/strings.xml
  app/src/main/res/values-gn/strings.xml
  app/src/main/res/values-hy-rAM/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Add "manage account and devices" button to home menu in mozillaonline builds
  app/src/main/java/org/mozilla/fenix/home/HomeMenu.kt
  app/src/main/java/org/mozilla/fenix/home/HomeMenuBuilder.kt
  app/src/main/res/values-zh-rCN/mozonline_strings.xml
  app/src/main/res/values/mozonline_strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-fr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
