Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Strings - app/src/main/res/values-el/strings.xml
  app/src/main/res/values-el/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-eo/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-oc/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-ka/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-it/strings.xml
  app/src/main/res/values-it/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-el/strings.xml
  app/src/main/res/values-el/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-uk/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220717143135.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220717143135.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-pa-rIN/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-pa-rIN/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-pa-rIN/strings.xml
  app/src/main/res/values-pa-rIN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-nn-rNO/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

[DO NOT MERGE] Change sync strings workflow event
  .github/workflows/sync-strings.yml
Owners: @mozilla-mobile/fenix

Update Android Components version to 104.0.20220718143145.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220718143145.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - part 2: Provide email address for github-actions[bot] on Taskcluster decision task
  .taskcluster.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

For #25894 - Add firefox suggest header for lib suggestions
  app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarWrapper.kt
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220718174753.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-pa-rIN/strings.xml
  app/src/main/res/values-pa-rIN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-nn-rNO/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sl/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bump version to 103.1.0
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #25894 - Add firefox suggest header for lib suggestions
  app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarWrapper.kt
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220718174753.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 103.0.9.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Fixes #26050: show jump back in when only synced tab available
  app/src/main/java/org/mozilla/fenix/ext/AppState.kt
  app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  app/src/test/java/org/mozilla/fenix/ext/AppStateTest.kt
  app/src/test/java/org/mozilla/fenix/home/sessioncontrol/SessionControlViewTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-hsb/strings.xml
  app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-hsb/strings.xml
  app/src/main/res/values-ia/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Status check customTabShareTextTest UI test
  automation/taskcluster/androidTest/flank-x86.yml
Owners: @mozilla-mobile/fenix

For #26069 - Update steps for downloading APKs from open PRs.
  .experimenter.yaml
  .github/PULL_REQUEST_TEMPLATE
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26069 - Update steps for downloading APKs from open PRs.
  .experimenter.yaml
  .github/PULL_REQUEST_TEMPLATE
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1779797 - part 3: Create complete-push taskcluster task
  .mergify.yml
  taskcluster/ci/complete/kind.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Bug 1779797 - part 4: Fix l10n bumps branch name
  .github/workflows/sync-strings.yml
Owners: @mozilla-mobile/fenix

Bug 1779797 - part 5: Only auto-approve l10n bumps if they come from the right branches
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Issue #25972, #25971: reduce test failures with more retries on legacy-api-tests
  app/src/androidTest/java/org/mozilla/fenix/helpers/RetryTestRule.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SitePermissionsTest.kt
  automation/taskcluster/androidTest/flank-x86-legacy-api-tests.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

[DO NOT MERGE] Temporarilly rule on author to test out file changes
  .mergify.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
