Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

For #26113 ⁃ Enable address autofill in all channels
  app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Close #25954: add a new delete time range confirmation dialog for history screen
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/HistoryRobot.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryController.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  app/src/main/java/org/mozilla/fenix/library/history/HistoryInteractor.kt
  app/src/main/java/org/mozilla/fenix/library/history/RemoveTimeFrame.kt
  app/src/main/java/org/mozilla/fenix/library/historymetadata/HistoryMetadataGroupFragment.kt
  app/src/main/java/org/mozilla/fenix/library/historymetadata/controller/HistoryMetadataGroupController.kt
  app/src/main/java/org/mozilla/fenix/library/historymetadata/interactor/HistoryMetadataGroupInteractor.kt
  app/src/main/res/layout/delete_history_time_range_dialog.xml
  app/src/main/res/menu/history_menu.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/org/mozilla/fenix/library/history/HistoryControllerTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/HistoryInteractorTest.kt
  app/src/test/java/org/mozilla/fenix/library/history/RemoveTimeFrameTest.kt
  app/src/test/java/org/mozilla/fenix/library/historymetadata/controller/HistoryMetadataGroupControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26121 - Renew telemetry expiring in 105
  app/metrics.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fy-rNL/strings.xml
  app/src/main/res/values-gn/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-tr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fy-rNL/strings.xml
  app/src/main/res/values-gn/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-tr/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26121 - Renew telemetry expiring in 105
  app/metrics.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1777255 - part 3: Bump fenix-beta-version Github Action to support new version numbers
  .github/workflows/sync-strings.yml
Owners: @mozilla-mobile/fenix

For #26134 - Add parameter description for @string/delete_all_history_group_prompt_message
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26134 - Add parameter description for @string/delete_all_history_group_prompt_message
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220721143105.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220721143105.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220721182501.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220721182501.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26026 - Refactor the FenixTabCounterMenu creation from HomeFragment to TabCounterBuilder
  app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  app/src/main/java/org/mozilla/fenix/home/TabCounterBuilder.kt
  app/src/test/java/org/mozilla/fenix/home/TabCounterBuilderTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-sat/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-sat/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue - commit experimenter.yaml
  .experimenter.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26089 - Record metrics for save credit card prompt shown
  app/metrics.yaml
  app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  app/src/test/java/org/mozilla/fenix/components/metrics/MetricControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26144 new PWA HTML controls UI tests and other refactoring work
  app/src/androidTest/java/org/mozilla/fenix/ui/PwaTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/PwaRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26144 new PWA location and notifications permissions UI tests
  app/src/androidTest/java/org/mozilla/fenix/ui/PwaTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26144 new PWA camera permission UI test
  app/src/androidTest/java/org/mozilla/fenix/ui/PwaTest.kt
  automation/taskcluster/androidTest/flank-x86-legacy-api-tests.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update app/metrics.yaml
  app/metrics.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

No issue - commit experimenter.yaml
  .experimenter.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26089 - Record metrics for save credit card prompt shown
  app/metrics.yaml
  app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  app/src/test/java/org/mozilla/fenix/components/metrics/MetricControllerTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update app/metrics.yaml
  app/metrics.yaml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26146 - Use the correct moz:removedIn version in @string/delete_browsing_data_prompt_message
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220722143220.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26146 - Use the correct moz:removedIn version in @string/delete_browsing_data_prompt_message
  app/src/main/res/values/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Add a51 platform and worker
  taskcluster/ci/browsertime/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Run on pull request
  taskcluster/ci/browsertime/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220722143220.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-en-rCA/strings.xml
  app/src/main/res/values-gn/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-pa-rIN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-en-rCA/strings.xml
  app/src/main/res/values-gn/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-pa-rIN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220723143127.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220723143127.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-nn-rNO/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220724143140.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update Android Components version to 104.0.20220724143140.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-ru/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
