Repository mozilla-mobile/fenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix, @mozilla-mobile/releng

Update to Android-Components 106.0.20220904143128.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220904143128.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-si/strings.xml
  app/src/main/res/values-tg/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 105.0.4.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#26814)
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-si/strings.xml
  app/src/main/res/values-tg/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 105.0.4.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Automatic version bump CLOSED TREE NO BUG a=release
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-es-rES/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-tg/strings.xml
  app/src/main/res/values-tg/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-ru/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-in/strings.xml
  app/src/main/res/values-in/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #12725: Suppress UnusedMaterial3ScaffoldPaddingParameter warning.
  app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettings.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #12725: Replace removed static "set", "get" methods of ViewTreeSavedStateRegistryOwner.
  app/src/main/java/org/mozilla/fenix/compose/ComposeViewHolder.kt
  app/src/main/java/org/mozilla/fenix/compose/cfr/CFRPopupFullscreenLayout.kt
  app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ComposeAbstractTabViewHolder.kt
  app/src/test/java/org/mozilla/fenix/compose/cfr/CFRPopupFullScreenLayoutTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #12725: Upgrade compose to 1.2.1 version.
  app/build.gradle
  build.gradle
  buildSrc/src/main/java/Dependencies.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26286 new home screen UI tests
  app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuHomepageRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26286 new home screen UI tests
  app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuHomepageRobot.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26792 - Change active Firebase Test Lab emulator from x86 to ARM
  automation/taskcluster/androidTest/flank-arm-beta.yml
  automation/taskcluster/androidTest/flank-arm-legacy-api-tests.yml
  automation/taskcluster/androidTest/flank-arm-screenshots-tests.yml
  automation/taskcluster/androidTest/flank-arm-start-test.yml
  automation/taskcluster/androidTest/flank-armeabi-v7a-start-test.yml
  automation/taskcluster/androidTest/flank-armeabi-v7a.yml
  automation/taskcluster/androidTest/flank-x86-beta.yml
  automation/taskcluster/androidTest/flank-x86-legacy-api-tests.yml
  automation/taskcluster/androidTest/flank-x86-screenshots-tests.yml
  automation/taskcluster/androidTest/flank-x86-start-test.yml
  automation/taskcluster/androidTest/flank-x86.yml
  automation/taskcluster/androidTest/ui-test.sh
  taskcluster/ci/startup-test/kind.yml
  taskcluster/ci/ui-test/kind.yml
Owners: @mozilla-mobile/fenix, @mozilla-mobile/releng

Fix BookmarksTest and HomeScreenTest
  app/src/androidTest/java/org/mozilla/fenix/helpers/TestHelper.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/BookmarksTest.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bump to 104.2.0
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 104.0.9.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220905143151.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bump to 104.2.0 (#26820)
  version.txt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220905143151.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 104.0.9.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220905190143.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Update to Android-Components 106.0.20220905190143.
  buildSrc/src/main/java/AndroidComponents.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n.
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-hy-rAM/strings.xml
  app/src/main/res/values-trs/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Import l10n. (#26828)
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-hy-rAM/strings.xml
  app/src/main/res/values-trs/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-da/strings.xml
  app/src/main/res/values-da/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-hy-rAM/strings.xml
  app/src/main/res/values-hy-rAM/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-eu/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Strings - app/src/main/res/values-trs/strings.xml
  app/src/main/res/values-trs/strings.xml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Run failing UI tests after minor changes
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAboutTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAdvancedTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSearchTest.kt
  app/src/androidTest/java/org/mozilla/fenix/ui/robots/SearchRobot.kt
  automation/taskcluster/androidTest/flank-arm64-v8a.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

For #26830 - Allow the Pocket stories to scroll to the edges of the screen
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesComposables.kt
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesViewHolder.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Testing perf tests.
  taskcluster/ci/browsertime/kind.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

Use Youtube in openLinkInAppTest UI test
  app/src/androidTest/assets/pages/generic3.html
  app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAdvancedTest.kt
  automation/taskcluster/androidTest/flank-arm64-v8a.yml
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

Bug 1788643 - Enable nightly-test cron on fenix.
  .cron.yml
Owners: @mozilla-mobile/releng, @mozilla-mobile/fenix

For #26830 - Allow the Pocket stories to scroll to the edges of the screen
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesComposables.kt
  app/src/main/java/org/mozilla/fenix/home/pocket/PocketStoriesViewHolder.kt
Owners: @mozilla-mobile/ACT, @mozilla-mobile/fenix

.github/CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/

# WARNING: if there is a single syntax error in this file, CODEOWNERS
# WILL NOT WORK AT ALL. Please be careful when editing this file.
#
# You can use the technique described in this blog post to validate
# the paths you specify in .gitignore:
# http://www.benjaminoakes.com/git/2018/08/10/Testing-changes-to-GitHub-CODEOWNERS/

# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/ACT @mozilla-mobile/fenix
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/fenix
/automation/ @mozilla-mobile/fenix
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/fenix
/.github/ @mozilla-mobile/fenix
